.DS_Store
.htaccess

# wp core (as of 4.9.5)
/*
!/wp-content
/wp-content/index.php

!/wp-content/plugins
/wp-content/plugins/index.php
/wp-content/plugins/akismet

!/wp-content/themes
/wp-content/themes/index.php
/wp-content/themes/twenty*/
